.button {
    padding: .75rem 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    font-size: .875rem;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

.button.white {
    background: $white;
    color: $black;
    border: 4px solid $white;
}

.button.black {
    background: $black;
    color: $white;
    border: 4px solid $black;
}


.button.border.white {
    background: transparent;
    color: $white;
}
.button.border.black {
    background: transparent;
    color: $black;
}

@media(min-width: $lg) {
    .button {
        font-size: 1.125rem;
    }
}