#data {
    background: #ECEBE9;
    #nav {
        text-align: left;
    }
    #header {
        text-align: center;
        h3 {
            font-size: 6rem;
            margin: 2rem 0 0;
            color: $white;
        }
        h1 {
            font-size: 2.5rem;
            font-weight: normal;
            margin: 1rem 0 2.5rem;
        }
        .button {
            margin: 0 0 1rem;
            width: 100%;
        }
        .button:last-child {
            margin: 0;
        }
    }
    .charts {
        grid-gap: 3rem;
        position: relative;
        margin-top: -3rem;
        margin-bottom: 9rem;
    }
    .chart-container {
        background: $white;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
        padding: 2rem 2rem 2rem 0;
        margin-bottom: 2rem;
        h4 {
            margin: 0 0 1rem;
            font-size: 1rem;
            text-align: center;
            font-weight: normal;
        }
    }
    .chart {
        height: 200px;
    }
}

@media(min-width: $md) {
    #data {
        #header {
            .button {
                margin: 0 1rem 0 0;
                width: unset;
            }
            .button:last-child {
                margin: 0;
            }
        }
        .chart-container {
            h4 {
                margin: 0 0 1.5rem 2rem;
                font-size: 1.5rem;
            }
        }
    }
}

@media(min-width: $lg) {
    #data {
        #header {
            h3 {
                font-size: 7rem;
            }
            h1 {
                font-size: 4rem;
            }
        }
        .charts {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
            margin-top: -6rem;
        }
        .chart-container {
            margin-bottom: 0;
        }
        .chart {
            height: 300px;
        }
    }
}